@import '~bootstrap/scss/bootstrap';

* {
	border: 1px dashed black;
}

:root {
	--prymary: #0282F9;
	--ligth: #FFFFFF;
	--dark: #1C1C1C;
}


/*********************************************************/

header {

	.top_header {

		background-color: var(--prymary);
	}

	.nav_header {

		.logo_header {
			width: 80px;
		}

		.nav_active {
			color: var(--prymary);
			border-bottom: 2px solid var(--prymary);
		}

		.nav_search {
			color: var(--prymary);
			border-bottom: 2px solid var(--prymary);
		}

	}
}

/*********************************************************/

main {

	background-color: var(--dark);
	color: var(--ligth);

	.img_jumbo {
		width: 100%;
		height: 350px;
		object-fit: cover;
		object-position: top;
	}

	.title {
		background-color: var(--prymary);
		width: 160px;
		height: 60px;
		text-align: center;
		align-content: center;
		border: none;
		margin-top: -40px;
	}

	.bg_card {
		background-color: var(--dark);
		border: none;
	}

	img {
		width: 180px;
		height: 180px;
		background-color: var(--dark);
	}

	.title_card {
		background-color: var(--dark);
		color: var(--ligth);
	}

	button {
		color: var(--ligth);
		background-color: var(--prymary);
		padding: 0.5rem 2.5rem;

	}

	.bg_banner {
		background-color: var(--prymary);
		color: var(--ligth);

	}

	.img_banner {
		background-size: contain;
		background-repeat: no-repeat;
		height: 80px;
		width: 80px;

	}

	.link_b1 {
		background-image: url('../img/buy-comics-digital-comics.png');
	}

	.link_b2 {
		background-image: url('../img/buy-comics-merchandise.png');
	}

	.link_b3 {
		background-image: url('../img/buy-comics-subscriptions.png');
	}

	.link_b4 {
		background-image: url('../img/buy-comics-shop-locator.png');
	}

	.link_b5 {
		background-image: url('../img/buy-comics-shop-locator.png');
	}
}