@import '~bootstrap/scss/bootstrap';


* {
	border: 1px dashed black;
}



:root {
	--prymary: #0282F9;
	--ligth: #FFFFFF;
	--dark: #1C1C1C;
}



/*********************************************************/

header {



	.top_header {

		background-color: var(--prymary);
	}




	.nav_header {


		.logo_header {
			width: 80px;
		}


		.nav_active {
			color: var(--prymary);
			border-bottom: 2px solid var(--prymary);
		}

		.nav_search {
			color: var(--prymary);
			border-bottom: 2px solid var(--prymary);
		}



	}
}



/*********************************************************/

main {

	background-color: var(--dark);
	color: var(--ligth);


	.img_jumbo {
		width: 100%;
		height: 350px;
		object-fit: cover;
		object-position: top;
	}

	.title {
		background-color: var(--prymary);
		width: 160px;
		height: 60px;
		text-align: center;
		align-content: center;
		border: none;
		margin-top: -40px;
	}


}